
@using PchelaMap.Models
@using Microsoft.AspNetCore.Identity
@using PchelaMap.Areas.Identity.Data
@inject SignInManager<PchelaMapUser> SignInManager
@inject UserManager<PchelaMapUser> UserManager
@model IEnumerable<PchelaMap.Models.UserWithTasks>
<link rel="stylesheet" href="~/css/Admin.css" />
<div class="MainButtonsContainer">
    <a class="Link_AdminMenu" asp-controller="Admin" asp-action="Index">
        <input type="button" class="btn btn-primary AdminMenuButton" value="Пользователи (@ViewBag.UsersCount)" />
    </a>
    <a class="Link_AdminMenu" asp-controller="Admin" asp-action="Tasks">
        <input type="button" class=" btn btn-primary AdminMenuButton" value="Задания (@ViewBag.TasksCount)" />
    </a>
    <a class="Link_AdminMenu" asp-controller="Admin" asp-action="TasksForModeration">
        <input type="button" class="btn btn-warning AdminMenuButton" value="Задания на модерации (@Model.Count())" />
    </a>
    <a class="Link_AdminMenu" asp-controller="Admin" asp-action="ReportsForModeration">
        <input type="button" class=" btn btn-primary AdminMenuButton" value="Отчёты на модерации (@ViewBag.ReportsOnModerationCount)" />
    </a>
    <a class="Link_AdminMenu" asp-controller="Admin" asp-action="UsersTasks">
        <input type="button" class="btn btn-primary  AdminMenuButton" value="Задания на выполнении (@ViewBag.TasksInProcessCount)" />
    </a>
    <a class="Link_AdminMenu" asp-controller="Admin" asp-action="ExportData">
        <input type="button" class="btn btn-primary  AdminMenuButton" value="Выгрузка" />
    </a>
</div>
@if (Model.Count() == 0)
{
<h3>В базе данных нет заданий на модерацию</h3> }
            else
            {
<table class="UsersDBStyle">
    <thead>
        <tr>
            <td class="TableHeader" colspan="2">
                Создатель задания
            </td>
            <td class="TableHeader">
                Дата создания
            </td>
            <td class="TableHeader">
                Контакты
            </td>
            <td class="TableHeader">
                Адрес
            </td>
            <td class="TableHeader">
                Авто
            </td>
            <td class="TableHeader" style="width:36%;">
                Описание задания
            </td>
            <td class="TableHeader">
                Срочность задания
            </td>
            <td class="TableHeader" style="width:10%;">
                Комментарий
            </td>
            <td class="TableHeader">
                Статус задания
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (PchelaMap.Models.UserWithTasks _Task in Model)
        {
<tr>
    <td class="TableCell" style="border-right:none; padding-right:0.5vw;">
        <div class="UserAvatar" style="background-image:url('@_Task.PhotoUrl');" onclick="ZoomAvatar(this)"></div>
    </td>
    <td class="TableCell" style="border-left:none; padding-left:0;">
        <a class="ChangeRoleButton" asp-action="Index" asp-route-ShowSingle="true" asp-route-UserId="@_Task.CreatorID">
            @_Task.Name
        </a>
    </td>
    <td class="TableCell">
        @_Task._CreatedDateUtc
    </td>
    <td class="TableCell">
        <div>
            <div>
                @_Task.Phone
            </div>
            <div>
                <a style="width:100%" href="mailto: @_Task.Email">@_Task.Email</a>
            </div>
        </div>
    </td>
    <td class="TableCell">
        @_Task.Adress
    </td>
    <td class="TableCell">
        @if (_Task.NeedsCar == 1)
        {
<label style="margin:0;">Нужно</label> }
else
{
<label style="margin:0;">Без</label>}
    </td>
    <td class="TableCell">
        <textarea rows="6" readonly="readonly">@_Task.description</textarea>
    </td>
    <td class="TableCellMidleTextalign">
        @if (_Task.UrgentStatus == 1)
        {
<label class="btn btn-danger">Срочное</label> }
                    else
                    {
<label class="btn btn-info">Обычное</label>                    }
    </td>
    <td class="TableCellMidleTextalign" style="padding:0;">
        <textarea rows="4" placeholder="Комментарий для пользователя"
                  id="MessageForUser@_Task.CreatorID" style="width:100%;">@_Task.FromAdminMessage</textarea>
    </td>
    <td class="TableCell">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" type="button">
                @GlobalStatusEditModel.GlobalTaskStatusDictionary[_Task.GlobalStatus]
            </button>
            <div class="dropdown-menu">
                @foreach (var _stat in ViewBag.AllGlobalStatuses)
                {
                    if (_Task.GlobalStatus != _stat && _stat != "in_progress" && _stat != "closed")
                    {
<a class="dropdown-item" style="cursor:pointer"
   onclick="return ChangeModerateGlobalStatus('@_Task.id', '@_Task.CreatorID', '@_stat')">
    @GlobalStatusEditModel.GlobalTaskStatusDictionary[_stat]
</a>}
}
            </div>
        </div>
    </td>
</tr>}
    </tbody>

</table>}
@section Scripts{

    <script type="text/javascript" src="~/js/Admin.js"></script>

}