
@using PchelaMap.Models
@using Microsoft.AspNetCore.Identity
@using PchelaMap.Areas.Identity.Data
@inject SignInManager<PchelaMapUser> SignInManager
@inject UserManager<PchelaMapUser> UserManager
@model List<UserWithTasks>
<link rel="stylesheet" href="~/css/MyTasks.css" />
<div class="MyTasksMenuButtonsContainer">
    <a class="Link_MyTaskMenu" asp-controller="Home" asp-action="MyTakenTasks">
        <input type="button" class="btn MyTasksMenuButton" value="Взятые (@ViewBag.UserTakenTasksCount)" />
    </a>
    <a class="Link_MyTaskMenu" asp-controller="Home" asp-action="MyDoneTasks">
        <input type="button" class="btn MyTasksMenuButton" value="Выполненные (@ViewBag.UserDoneTasksCount)" />
    </a>
    <a class="Link_MyTaskMenu" asp-controller="Home" asp-action="MyTasks">
        <input type="button" class="btn MyTasksMenuButtonActive" value="Созданные (@Model.Count())" />
    </a>
</div>
@if (@Model.Count() == 0)
{
<h3>Нет созданных заданий</h3> }
else
{
@foreach (PchelaMap.Models.UserWithTasks _Task in Model)
{
<a class="TaskView" asp-controller="Home" asp-action="UserTakenTaskEdit" asp-route-id="@_Task.id" asp-route-ActiveMenuButton="my">
    <span class="UserMyTasksAvatar" style="background-image:url(' @_Task.PhotoUrl')"></span>
    <div class="TaskInfo">
        <span class="TaskDescriptionMyTasks">@_Task.description</span>
        <span>@_Task.Adress</span>
        <span>@_Task.Phone</span>
        <div class="d-flex flex-row flex-wrap ">
            @if (_Task.GlobalStatus == "in_progress")
            {
<span class="alert alert-success">Взято волонтёром</span>}
            @if (_Task.GlobalStatus == "active")
            {
<span class="alert alert-info">Ожидает исполнителя</span>}
            @if (_Task.GlobalStatus == "stoped")
            {
<span class="alert alert-danger">Задание не прошло модерацию. </span>
                        @if (_Task.FromAdminMessage != "" && _Task.FromAdminMessage != null)
                        {
<span class="alert alert-info">Сообщение от администратора: @_Task.FromAdminMessage</span>}}
            @if (_Task.GlobalStatus == "moderating")
            {
<span class="alert alert-info">Ожидает модерации</span>
                        @if (_Task.FromAdminMessage != "" && _Task.FromAdminMessage != null)
                        {
<span class="alert alert-info">Сообщение от администратора: @_Task.FromAdminMessage</span>}}
            @if (_Task.UrgentStatus == 1)
            {
<span class="alert alert-danger">Срочное задание</span>}
        </div>
    </div>
</a>}
}